body {
    max-width: 640px;
    margin: 40px auto;
    padding: 20px;
    font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #444;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #c9d1d9;
        background: #0d1117;
    }

    a:link {
        color: #58a6ff;
    }

    a:visited {
        color: #8e96f0;
    }
}

h1,h2,h3 {
    line-height: 1.2;
}

figure {
  margin: 0;
  padding: 0;
  margin-bottom: 2em;
  display: block;
}

figure img {
  max-width: 60%;
  margin: auto;
  display: block;
}

figcaption {
  margin-top: 0.75em;
  font-size: 0.9em;
  text-align: center;
  font-style: italic;
  line-height: 1.4;
}

hr {
    margin: 2rem 0;
}