:root {
  --bg-color: rgba(255, 255, 255, 1);
  --text-color: rgba(32, 52, 47, 1);
  --text-soft-color: rgba(64, 77, 73, 1);
  --text-strong-color: rgba(74, 74, 74, 1);
  --subtle-color: rgba(243, 251, 249, 1);
  --border-color: rgba(203, 238, 229, 1);
  --shadow-color: rgba(128, 205, 187, 1);
  --input-color: rgba(255, 255, 255, 1);
  --outline-color: rgba(16, 218, 187, 1);
  --mark-color: rgba(0, 150, 128, 0.08);
  --special-color: rgba(0, 150, 128, 1);
  --special-bg-color: rgba(0, 154, 131, 1);
  --special-text-color: rgba(255, 255, 255, 1);
  --special-shadow-color: rgba(17, 106, 90, 1);
  --special-mark-color: rgba(255, 255, 255, 0.08);
  --light-color: rgba(199, 255, 240, 1);
  --dark-color: rgba(10, 80, 68, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgba(32, 32, 32, 1);
    --text-color: rgba(196, 230, 221, 1);
    --text-soft-color: rgba(176, 191, 187, 1);
    --text-strong-color: rgba(187, 187, 187, 1);
    --subtle-color: rgba(24, 39, 35, 1);
    --border-color: rgba(6, 55, 46, 1);
    --shadow-color: rgba(0, 0, 0, 1);
    --input-color: rgba(28, 28, 28, 1);
    --outline-color: rgba(18, 178, 153, 1);
    --mark-color: rgba(8, 157, 134, 0.08);
    --special-color: rgba(8, 157, 134, 1);
    --special-bg-color: rgba(4, 112, 95, 1);
    --special-text-color: rgba(196, 230, 221, 1);
    --special-shadow-color: rgba(2, 35, 29, 1);
    --special-mark-color: rgba(196, 230, 221, 0.08);
    --light-color: rgba(19, 238, 204, 1);
    --dark-color: rgba(6, 60, 51, 1);
  }
}

@media (prefers-color-scheme: light) and (prefers-contrast: more) {
  :root {
    --bg-color: rgba(255, 255, 255, 1);
    --text-color: rgba(20, 35, 31, 1);
    --text-soft-color: rgba(27, 34, 32, 1);
    --text-strong-color: rgba(74, 74, 74, 1);
    --subtle-color: rgba(243, 251, 249, 1);
    --border-color: rgba(135, 193, 178, 1);
    --shadow-color: rgba(98, 169, 153, 1);
    --input-color: rgba(255, 255, 255, 1);
    --outline-color: rgba(14, 199, 171, 1);
    --mark-color: rgba(0, 115, 98, 0.16);
    --special-color: rgba(0, 115, 98, 1);
    --special-bg-color: rgba(0, 119, 101, 1);
    --special-text-color: rgba(255, 255, 255, 1);
    --special-shadow-color: rgba(3, 44, 37, 1);
    --special-mark-color: rgba(255, 255, 255, 0.16);
    --light-color: rgba(199, 255, 240, 1);
    --dark-color: rgba(10, 80, 68, 1);
  }
}

@media (prefers-color-scheme: dark) and (prefers-contrast: more) {
  :root {
    --bg-color: rgba(32, 32, 32, 1);
    --text-color: rgba(225, 243, 238, 1);
    --text-soft-color: rgba(232, 241, 239, 1);
    --text-strong-color: rgba(187, 187, 187, 1);
    --subtle-color: rgba(24, 39, 35, 1);
    --border-color: rgba(58, 86, 79, 1);
    --shadow-color: rgba(0, 0, 0, 1);
    --input-color: rgba(28, 28, 28, 1);
    --outline-color: rgba(17, 175, 150, 1);
    --mark-color: rgba(13, 196, 168, 0.16);
    --special-color: rgba(13, 196, 168, 1);
    --special-bg-color: rgba(3, 90, 76, 1);
    --special-text-color: rgba(225, 243, 238, 1);
    --special-shadow-color: rgba(0, 0, 0, 1);
    --special-mark-color: rgba(225, 243, 238, 0.16);
    --light-color: rgba(56, 255, 220, 1);
    --dark-color: rgba(6, 60, 51, 1);
  }
}

/* defaults */

* {
  font: 1.08rem/1.4 ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.3rem;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 20px);
}

a {
  color: var(--text-color);
}

strong {
  font-weight: bold;
}

/* header */

header {
  margin: 0;
  margin-bottom: 50px;
  max-width: 1280px;
  width: 100%;
  height: 60px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;

  a {
    text-decoration: none;
  }

  .header-logo {
    font-weight: bold;
    font-size: x-large;
  }

  .header-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  > ul {
    padding: 0;
    display: flex;

    > li {
      list-style: none;
      display: inline-block;

      a {
        font-size: large;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    > li:not(:last-child) {
      margin-right: 30px;
    }
  }

  svg {
    fill: var(--special-color);
    height: 28px;
    width: 28px;
  }

  @media (max-width: 748px) {
    .header-links {
      display: none;
      flex-basis: 0;
    }

    .header-logo {
      font-size: xx-large;
    }

    flex-direction: column;

    .header-center {
      position: relative;
      left: 0;
      transform: none;
    }
  }
}

/* footer */
footer {
  width: 100%;
  max-width: 1280px;
  min-height: 100px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

/* content */
main {
  max-width: 1024px;
  width: 100%;
  flex: 1;

  .title {
    margin-bottom: 30px;
    > h1 {
      margin: 0;
      font-size: 2.5rem;
      font-weight: bold;
    }
    > span {
      color: var(--text-soft-color);
    }
  }
}

/* sections */
.section-list {
  padding: 0;
  > li {
    list-style: none;

    > span {
      display: block;
      font-style: italic;
      color: var(--text-soft-color);
    }
    > a {
      font-size: xx-large;
    }
  }

  > li:not(:last-child) {
    margin-bottom: 30px;
  }
}

figure {
  float: right;
  max-width: 30%;
  padding: 10px;
  margin: 10px;
  margin-right: 0;
  border: thin var(--special-color) solid;
  border-radius: 5%;

  > img {
    width: 100%;
    border-radius: 5%;
    margin-bottom: 4px;
  }

  > figcaption {
    font-size: smaller;
    font-style: italic;
    text-align: center;
  }

  @media (max-width: 480px) {
    float: none;
    max-width: 100%;
    margin: 0;
  }
}
