figure {
  float: right;
  max-width: 30%;
  padding: 10px;
  margin: 10px;
  margin-right: 0;
  border: thin var(--svg-color) solid;
  border-radius: 5%;

  > img {
    width: 100%;
    border-radius: 5%;
    margin-bottom: 4px;
  }

  > figcaption {
    font-size: smaller;
    font-style: italic;
    text-align: center;
  }

  @media (max-width: 512px) {
    float: none;
    max-width: 100%;
    margin: 0;
  }
}